@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

body {
  background-color: grey;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  overflow: hidden;
  height: 100%;
}

.wrapper {
  width: 320px;
  height: 533px;
  background: #ffffff;
  display: block;
  margin: auto;
  margin-top: 100px;
}

.exit:hover,
.settingsBtn:hover,
.sendMessageBtn:hover,
.sendNickBtn:hover {
  background-color: #555555;
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
}

.settingsBtn {
  width: 98px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 0px;
  margin: 8px 8px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  width: 273px;
  height: 319px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 10;
  background-color: white;
}

.settings.active {
  transform: translate(-50%, -50%) scale(1);
}

.hedaersettings {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 16px 14px 16px 14px;
}
.textsettings {
  font-size: 16px;
}
.closeBtn {
  line-height: 19px;
  font-size: 24px;
  opacity: 0.45;
}
.headerName {
  margin: 16px auto 8px 14px;
}
.nameForm {
  display: flex;
  justify-content: space-between;
  margin: 0px 14px auto 14px;
}
.nameBox {
  width: 207px;
  height: 32px;
  border: 1px solid #000000;
  box-sizing: border-box;
  outline: none;
  padding: 5px;
}
.sendNickBtn {
  width: 30px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit {
  width: 66px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 0px;
  margin: 8px 8px 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox {
  overflow: auto;
  width: 304px;
  height: 437px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  overflow: auto;
  margin: 4px 8px 4px 8px;
}

.chatbox::-webkit-scrollbar {
  display: none;
}

.sentMessage {
  margin: 4px 8px 4px auto;
  padding: 8px 6px 8px 8px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}
.recievedMessage {
  margin: 4px 8px 4px 8px;
  padding: 8px 6px 8px 8px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

.time {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
}

.messageForm {
  display: flex;
  align-items: stretch;
}
.messageBox {
  width: 267px;
  height: 32px;
  border: 1px solid #000000;
  outline: none;
  box-sizing: border-box;
  padding: 5px;
  margin: 4px 4px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendMessageBtn {
  width: 29px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 0px;
  margin: 4px 8px 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}
